MONGODB_URI=mongodb+srv://mohamedadelcs30_db_user:CjI1l0ce2dR5Rqe6@newrealestate1.e5arldc.mongodb.net/?appName=newrealestate1
JWT_SECRET=Mojsp4io3jf@$%Wefl;255dQ@38ejffw4fwffSGF%geijof"Fsldf.dfds
JWT_EXPIRE=7d
ADMIN_DELETE_PASSWORD=MohamedAdel@17997
PORT=5000
NODE_ENV=production
CLIENT_URL=https://yourdomain.com
